# --- R Specifics ---
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rapp.history
*-ex.R
.Rpackages

# --- Multinma / Stan Specifics ---
# These prevent tracking of massive Bayesian model objects 
# or temporary compiled C++ code.
*.rds
*.rds.tmp
*.so
*.dll
*.o

# --- Project Structure ---
# Ignore the raw output folder if you prefer to only share code,
# or ignore specific heavy sub-folders.
output/models/
output/plots/*.pdf
output/plots/*.png

# --- Documentation & Environment ---
.Renviron
.venv/
renv/python/
renv/staging/
renv/library/

# --- OS Specifics ---
.DS_Store
Thumbs.db